
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
    margin:0;
    height:100%;
}

#flashContent { overflow:hidden !important;}


#ID_txt01,#ID_txt02{
-moz-text-shadow:  0 0 0.2em #000, 0 0 0.2em #000,0 0 0.2em #000, 0 0 0.2em #000 ;
-webkit-text-shadow:  0 0 0.2em #000, 0 0 0.2em #000,0 0 0.2em #000, 0 0 0.2em #000;
text-shadow:  0 0 0.2em #000, 0 0 0.2em #000,0 0 0.2em #000, 0 0 0.2em #000}
