
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


table { width:100% !important; border-collapse:collapse;}
table tbody tr { border-color:#DAE17A;padding:0px;}
table tbody tr td { border-color:#a2aa23; font-size:12px !important; border:3px solid #DAE17A; border-collapse:collapse;padding:0 0 0 3px;}
table tbody tr td b { font-size:12px !important; font-weight:bold !important; border-collapse:collapse;padding:0px;}
.table_font { border-color:#a2aa23; font-size:12px !important; font-weight:bold !important; width:33% !important;}

.col_1 {line-height: 0px; !important; /*display:block;*/ margin-top:-11px; padding-bottom:5px;}
#ID_table {box-shadow: 0 0 2px 2px #999999 !important; width:445px !important; height:331.75px !important; border-radius:5px !important;padding:1px;margin; 0px;}
.liner {line-height:1 !important;height: 0px !important; margin:0px; padding:0px;}
.liner_top {line-height:0 !important;height: 0px !important; margin:0px; padding:1px 0 1px 0;}
li{margin-left:1em !important;}

.title{line-height:0px;padding:0px 0 5px 0px;margin:0px;height:0px;}
.title b{font-size:14px !important; font-weight:bold !important; border-collapse:collapse;line-height:0px;padding:0px;margin:0px;height:0px;}


.tdheight{line-height:0 !important;margin:0px;padding:0px;}
.textAlign{margin-left:-55px;}
.textAlign1{margin-left:-20px;}
li {margin-left: 1em !important;}
