
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s1_title {font-weight:bold !important;}
#ID_s2_title {font-weight:bold !important;}
#ID_s3_title {font-weight:bold !important;}