
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

table { width:100% !important;border-collapse:collapse;}
table tbody tr { border-color:#DAE17A;}
table tbody tr td { border-color:#a2aa23; font-size:12px !important; border:3px solid #DAE17A; border-collapse:collapse;line-height:13px !important;}
table tbody tr td b { font-size:12px !important; font-weight:bold !important; border-collapse:collapse;}
table tbody tr td font { font-size:12px !important; border-collapse:collapse;}
.table_font { border-color:#a2aa23; font-size:11px !important; font-weight:bold !important; width:33% !important;}

.col_1 {line-height: 0; /*display:block;*/ margin-top:-11px; padding-bottom:5px;}

.liner {line-height:1 !important;height: 0px !important; margin:0px; padding:0px;}
.liner_top {line-height:0 !important;height: 0px !important; margin:0px; padding:1.5px 0 1.5px 0;}
li{margin-left:1em !important;}

.title{line-height:0px;padding:7px 0 3px 0px;margin:0px;height:0px;}
.title b{font-size:14px !important; font-weight:bold !important; border-collapse:collapse;line-height:0px;padding:0px;margin:0px;height:0px;}
.header{font-size:14px !important;}
#ID_table_01 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:305px !important; border-radius:5px !important;}
#ID_table_02 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:226px !important; border-radius:5px !important;}
#ID_table_03 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:202px !important; border-radius:5px !important;}
#ID_table_04 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:176px !important; border-radius:5px !important;}
#ID_table_05 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:148px !important; border-radius:5px !important;}
#ID_table_06 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:215px !important; border-radius:5px !important;}



 @media screen and (-webkit-min-device-pixel-ratio:0) {#spacer{margin-left:12px;}#spacer1{margin-left:11px;}
#ID_table_01 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:305px !important; border-radius:5px !important;}
#ID_table_02 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:226px !important; border-radius:5px !important;}
#ID_table_03 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:202px !important; border-radius:5px !important;}
#ID_table_04 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:176px !important; border-radius:5px !important;}
#ID_table_05 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:148px !important; border-radius:5px !important;}
#ID_table_06 {box-shadow: 0 0 2px 2px #999999 !important; width:404.05px !important; height:215px !important; border-radius:5px !important;}
ul {
    margin: 0;
    padding: 0;
}
