
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden !important;
}

#mainDiv0 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv0 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv0 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv1 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv2 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv3 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv4 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv5 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv6 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv7 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

#mainDiv8 b
{
    display: block;
    line-height: 14px;
    margin-top: 5px;
}
