
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
table { width:100% !important;border-collapse:collapse;}
table tbody tr { border-color:#DAE17A;}
table tbody tr td { border-color:#a2aa23; font-size:12px !important; border:3px solid #DAE17A; border-collapse:collapse;}
table tbody tr td b { font-size:12px !important; font-weight:bold !important; border-collapse:collapse;}
table tbody tr td font { font-size:12px !important; border-collapse:collapse;}
.table_font { border-color:#a2aa23; font-size:11px !important; font-weight:bold !important; width:33% !important;}

.col_1 {line-height: 0; /*display:block;*/ margin-top:-11px; padding-bottom:5px;}

.liner {line-height:1 !important;height: 0px !important; margin:0px; padding:0px;}
.liner_top {line-height:0 !important;height: 0px !important; margin:0px; padding:1px;}
li{margin-left:1em !important;}

.title{line-height:0px;padding:10px 0 8px 0px;margin:0px;height:0px;}
.title b{font-size:14px !important; font-weight:bold !important; border-collapse:collapse;line-height:0px;padding:0px;margin:0px;height:0px;overflow-y:scroll;}
#ID_table_01 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:276px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_02 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:190px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_03 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:280px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_04 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:197px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_05 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:152px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_06 {box-shadow: 0 0 2px 2px #999999 !important; width:414px !important; height:220px !important; border-radius:5px !important;overflow-y:scroll;}
#ID_table_04 b { font-size:14px !important; font-weight:bold !important;}
#ID_table_05 b { font-size:14px !important; font-weight:bold !important;}
.title1{line-height:0px;padding:2px 0 2px 0px;margin:0px;height:0px;}
.title1 b{font-size:14px !important; font-weight:bold !important; border-collapse:collapse;line-height:13px;padding:0px;margin:0px;height:0px;}

.width_1 { width:66% !important;}
.width_5 { width:66% !important;}
.width_6 { width:66% !important;}