
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	min-height: 400px;
	min-width:490px;
}
#flashContent {
	width:98%;
	height:98%;
    overflow:hidden !important;
}
#htmlMedia{
    position:relative;
    overflow:hidden;
}