@charset "utf-8";
/* CSS Document */

.activity {
	color: #393536;
	font-size: 10pt;
	line-height: 1.3em;
	text-align: left;
}

.ui-layout-west{
	color:#393536;
	font-size:10pt;
	line-height:1.3em;
	text-align:left;
	overflow:hidden;
	position:relative;
	height:100%
}

.activity #header,
.ui-layout-west #header{
	color:#A115A1;
	background-color:#F0F0F0;
	margin-right:5px;
	padding:6px;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-color:#D3D1D2;
	border-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#A7A5A6;
	border-bottom-style:solid;
	-webkit-border-bottom-radius:  6px 0px 0px 0px;
	-moz-border-bottom-radius:  6px 0px 0px 0px;
	border-radius: 6px 0px 0px 0px;	
	overflow:hidden;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,.3);

}

.activity #content {
	padding: 10px;	
}

.ui-layout-west #content{
	position:absolute;
	/*padding:0em .5em 0em .5em;*/
	padding: 10px;
	top:59px;
	bottom:0px;
	margin:5px 5px 3px 0px;
	overflow-y:auto;
	/*height:80%*/
	background-color:#F0F0F0;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-color:#D3D1D2;
	border-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#A7A5A6;
	border-bottom-style:solid;
	-webkit-border-bottom-radius: 0px 0px 0px 6px;
	-moz-border-bottom-radius: 0px 0px 0px 6px;
	border-radius: 0px 0px 0px 6px;	
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

.activity h1,
.activity h2,
.activity h3,
.activity h4,
.activity h5,
.activity h6,
.ui-layout-west h1,
.ui-layout-west h2,
.ui-layout-west h3,
.ui-layout-west h4,
.ui-layout-west h5,
.ui-layout-west h6{
	margin-bottom:0;
}

.activity #header h2,
.ui-layout-west #header h2{
	margin:5px 5px 0px 5px;	
}

.activity #header h1,
.ui-layout-west #header h1{
	font-size: 1.2em; 
	font-weight:bold;
	margin:2px 5px 5px 5px;
	padding-bottom:5px;	
	min-width:200px;
	min-height:25px;
	background:url(images/Header_underline_gradiant.jpg) no-repeat left bottom;
	
}

.activity #header h2,
.ui-layout-west #header h2{
	font-size: 1em; 
	font-weight:bold;
}

p {
	margin-bottom:1em;
}

/*styles for ol or ul lists*/

ul, ol{
	margin-top:0;
}

li{
	margin-left:-1em;
}

span.cmd {
	font-family: "Courier New", Courier, monospace;
}

a {
	color: #2BA2FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
