@charset "utf-8";
/* CSS Document */



body {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	margin-bottom:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12pt;
	text-align:left;
	min-width:765px;
	min-height:50px;
	border:none;
	margin:0px;
}
.ui-layout-center {
	padding:50;
	top:50;
}



/* use to modify the layout when the media is fullscreen */
#fullPage {
	text-align: center;	
}


